{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype"
  ],
  "extends": "react-app",
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "react/prop-types": 0,
    "react/no-unused-prop-types": 0,
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "max-len": [
      "error",
      120,
      2
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "flowtype/require-parameter-type": [
      2,
      {
        "excludeArrowFunctions": true
      }
    ]
  },
  "root": true,
  "env": {
    "es6": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}